
<script type="text/JavaScript" src="{{ url_for('static', filename='scripts/cities.js') }}"></script>
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--stylesheet-->
    <link rel="stylesheet" href="{{url_for('static', filename='styles/cropStyle.css')}}">
    
    <!--Google font-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet"> 
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id= "google_element"></div>
    <script src = "http://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate"></script>
    <script>
    function loadGoogleTranslate() {
            new google.translate.TranslateElement(
            "google_element");
    }
    </script>
    
    <div id="root">
      <div class="body">
        <form method="POST" action="{{ url_for('crop_prediction') }}">
          <h1>Crop Recomendation</h1>

          <div class="formInput form-group">
            <label for="Nitrogen"><b>Nitrogen</b></label>
            <input
               type="number"
               class="form-control"
               id="Nitrogen"
               name="nitrogen"
               placeholder="Enter the value (example:50)"
               
               required
            />
          </div>

          <div class="formInput form-group">
            <label for="Phosphorous"><b>Phosphorous</b></label>
              <input
                type="number"
                class="form-control"
                id="Phosphorous"
                name="phosphorous"
                placeholder="Enter the value (example:50)"
                
                required
              />
          </div>

          <div class="formInput form-group">
            <label for="Pottasium"><b>Pottasium</b></label>
              <input
                type="number"
                class="form-control"
                id="Pottasium"
                name="pottasium"
                placeholder="Enter the value (example:50)"
                
                required
              />
          </div>

          <div class="formInput form-group">
            <label for="ph"><b>ph level</b></label>
              <input
                type="number"
                step="0.01"
                class="form-control"
                id="ph"
                name="ph"
                placeholder="Enter the value"
                
                required
              />
          </div>

          <div class="formInput form-group">
            <label for="Rainfall"><b>Rainfall (in mm)</b></label>
              <input
                type="number"
                step="0.01"
                class="form-control"
                id="Rainfall"
                name="rainfall"
                placeholder="Enter the value"
                
                required
              />
          </div>

          <div class="formInput form-group">
            <label for="State"><b>State</b></label>
              <select class="inputForSelect"
              onchange="print_city('city', this.selectedIndex);"
                id="sts"
                name="stt"
                class="form-control"
                

                required
              >
              </select>
              <script language="javascript">
                print_state("sts");
              </script>
               <!--<br /> -->
              <label for="city" ><b>City</b></label>
              <select class="inputForSelect"
                id="city"
                class="form-control"
                name="city"
                
                required
              >
              </select>
              <script language="javascript">
                print_city("city");
              </script>
             <!-- <br />
              <br />  -->
          </div>

          <button type="submit" class="btn btn-info">Predict</button>

        </form>
      </div>
    </div>
    
    <script src="" async defer></script>
  </body>
</html>


<!--
<style>


    html body {
      background-color: rgb(206, 206, 228);


  }


</style>
<!- -Form Section- ->
<br /><br />
<h2 style="text-align: center; margin: 0px; color: black">
  <b>Find out the most suitable crop to grow in your farm</b>
</h2>
<br />

<div
  style="
    width: 350px;
    height: 50rem;
    margin: 0px auto;
    color: black;
    border-radius: 25px;
    padding: 10px 10px;
  "
>
  <form method="POST" action="{{ url_for('crop_prediction') }}">
    <div class="form-group">
      <label for="Nitrogen" style="font-size: 17px"><b>Nitrogen</b></label>
      <input
        type="number"
        class="form-control"
        id="Nitrogen"
        name="nitrogen"
        placeholder="Enter the value (example:50)"
        style="font-weight: bold"
        required
      />
    </div>
    <div class="form-group">
      <label for="Phosphorous" style="font-size: 17px"
        ><b>Phosphorous</b></label
      >
      <input
        type="number"
        class="form-control"
        id="Phosphorous"
        name="phosphorous"
        placeholder="Enter the value (example:50)"
        style="font-weight: bold"
        required
      />
    </div>

    <div class="form-group">
      <label for="Pottasium" style="font-size: 17px"><b>Pottasium</b></label>
      <input
        type="number"
        class="form-control"
        id="Pottasium"
        name="pottasium"
        placeholder="Enter the value (example:50)"
        style="font-weight: bold"
        required
      />
    </div>
    <div class="form-group">
      <label for="ph" style="font-size: 17px"><b>ph level</b></label>
      <input
        type="number"
        step="0.01"
        class="form-control"
        id="ph"
        name="ph"
        placeholder="Enter the value"
        style="font-weight: bold"
        required
      />
    </div>
    <div class="form-group">
      <label for="Rainfall" style="font-size: 17px"><b>Rainfall (in mm)</b></label>
      <input
        type="number"
        step="0.01"
        class="form-control"
        id="Rainfall"
        name="rainfall"
        placeholder="Enter the value"
        style="font-weight: bold"
        required
      />
    </div>
    <div class="form-group">
      <label for="State" style="font-size: 17px "><b>State</b></label>
      <select
      onchange="print_city('city', this.selectedIndex);"
        id="sts"
        name="stt"
        class="form-control"
        style="font-weight: bold; color: black;"

        required
      ></select>
      <script language="javascript">
        print_state("sts");
      </script>
      <br />
      <label for="city" style="font-size: 17px"><b>City</b></label>
      <select
        id="city"
        class="form-control"
        name="city"
        style="font-weight: bold; color: black;"
        required
      ></select>
      <script language="javascript">
        print_city("city");
      </script>
      <br />
      <br />
    </div>

    <div class="d-flex justify-content-center">
      <button
        type="submit"
        class="btn btn-info"
        style="color: black; font-weight: bold; width: 130px; height:50px; border-radius:12px; font-size: 21px;"
      >
        Predict
      </button>
    </div>
  </form>
</div>        
       
   -->



<!-- Form section -->
