<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>AgroUp</title>
       
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

         <!--FontAwesome Icons CDN-->
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

        <!--Google Fonts-->
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet"> 

        <!--Stylesheet-->
        <link rel="stylesheet" href="./../static/styles/style.css" />

        <!--media queries-->
        <link rel="stylesheet" href="./../static/styles/queries.css" />
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Scroll Indicator-->
        <div class="progress-container">
            <div id="progress"></div>
        </div>

        <!-- navigation bar-->
        <nav>
            <a href="#home" id="logo">AgroUp</a>
            <i class="fas fa-bars" id="ham-menu"></i>
            <ul id="nav-bar">
                <li>
                    <a href="#home">Home</a>
                </li>
                <li>
                    <a href="#about">About</a>
                </li>
                <li>
                    <a href="#model">Models</a>
                </li>
                <li>
                    <a href="#team">Team</a>
                </li>
                <li>
                    <a href="#faqs">FAQs</a>
                </li>  
                <li>
 
                    <a href="/news/Farming">News</a>

                </li>
            </ul>
        </nav>

        <!--Header-->
        <header id="home">
            <div class="hero-content">
                <div class="hero-text">
                    <h1>Hand In Hand Against World Hunger</h1>
                    <p>
                    To this day one of the biggest issues in developing countries is the continuous rise of hunger, food insecurity, and malnutrition. Increasing agricultural productivity in developing countries is necessary to reduce hunger and poverty, especially in the face of rapidly rising food prices.
                    </p>
                </div>
                <div class="hero-btns">
                    <a href="/sdg">
                    <button class="btn-primary">Sustainable Development Goals</button>
                    </a>
                 <!--   <button class="btn-secondary">Cotton Disease Detection</button>  -->
                </div>
            </div>
             <img src="../static/images/farm.jpg" alt="farm" />
        </header>

        <!--Section: About-->
        <section class="about" id="about">
            <div class="row">
                <div class="column">
                    <img src="./../static/images/truck.jpeg" />
                </div>
                <div class="column">
                    <h2>About Us</h2>
                    <p>
                    we believe that farmers play a pivotal role in combating world hunger. Through this website, we aim to empower farmers by providing them with the necessary tools, knowledge, and resources to increase agricultural productivity, optimize farming techniques, and foster sustainable practices.
                    </p>
                    <p>
                    AGRO UP is a platform dedicated to supporting farmers and promoting sustainable agriculture practices in India. Our website combines advanced agriculture models and up-to-date Indian agriculture news to empower farmers with valuable insights and resources.
                    </p>
                </div>
            </div>
        </section>

         <!--Section: Models-->
        <section class="models" id="model">
            <h2>Models</h2>
            <div class="model1">

            <div class="wrapper">

                <div class="card">
                    <img src="./../static/images/mod1.jpg" alt="Crop Predictor" />
                    <div class="info">
                        <h3>Crop Predictor</h3>
                        <p>
                            With our Crop Prediction model, farmers can make informed decisions about crop selection by leveraging predictive analytics, enabling them to optimize yields, minimize risks, and maximize agricultural productivity
                        </p>
                        <a href="/crop-recommend" class="btn">Model</a>
                    </div>
                </div>
    
                <div class="card">
                    <img src="./../static/images/mod2.jpg" alt="Cotton Disease Detection" />
                    <div class="info">
                        <h3>Crop Price Predictor</h3>
                        <p>
                            With our Crop Price Predictor model, farmers can gain valuable insights into market dynamics and price fluctuations, enabling them to optimize their crop selling strategies and maximize profitability in an ever-changing agricultural market
                        </p>
                        <a href="/crop-yield" class="btn">Model</a>
                    </div>
                </div>
    
            </div>

            </div>
        </section>

        <!--Section: Team-->
        <section class="team" id="team">
            <h2>Meet Our Team</h2>
            <div class="row">
                
                <!--column1-->
                <div class="column">
                    <div class="card">
                        <div class="img-container">
                            <img src="./../static/images/princee.jpeg" />
                        </div>
                        <h4>Princee Bansal</h4>
                        <p>Frontend Developer</p>
                        <div class="icons">
                            <a href="https://www.linkedin.com/in/princee-bansal-977ba0203?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B4sMIrlL5S%2B6r9DGhPa0dUA%3D%3D" target="_blank">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a href="mailto:princeebansal765@gmail.com" target="_blank">
                                <i class="fas fa-envelope"></i>
                            </a>
                        </div>
                    </div>
                </div>

                 <!--column2-->
                 <div class="column">
                    <div class="card">
                        <div class="img-container">
                            <img src="./../static/images/pratyksha.jpeg" />
                        </div>
                        <h4>Pratyksha Gupta</h4>
                        <p>ML Developer</p>
                        <div class="icons">
                            <a href="https://www.linkedin.com/in/pratyksha-gupta-2a9b14214?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3Bi2kW5XfgTJSlLwWBLrQJ%2Bw%3D%3D" target="_blank">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a href="mailto:gpratyksha@gmail.com" target="_blank">
                                <i class="fas fa-envelope"></i>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        
        <!--FAQ-->
        <section class="bg" id="faqs" >
            <h2>Frequently Asked Questions</h2>

           <center> <div class="faq">
                <div class="question">
                    <h3>Is the crop predictor compatible with different regions</h3>
                    <svg width="15" height="10" viewbox="0 0 42 25">
                        <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecape="round"/>
                    </svg>
                </div>
                <div class="answer">
                    <p>
                        Yes, the crop predictor can be customized for different regions in India. It takes into account the specific climatic and soil conditions of the target area to provide tailored predictions.
                    </p>
                </div>
            </div>  </center>
            

          <center><div class="faq">
                <div class="question">
                    <h3>How frequently is the crop predictor updated?</h3>
                    <svg width="15" height="10" viewbox="0 0 42 25">
                        <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecape="round"/>
                    </svg>
                </div>
                <div class="answer">
                    <p>
                    The crop predictor is regularly updated with the latest agricultural data and research findings. We strive to keep the predictor up-to-date to ensure the best possible accuracy in crop recommendations.
                    </p>
                </div>
            </div> </center>

          <center><div class="faq">
                <div class="question">
                    <h3>How accurate are the crop predictions?</h3>
                    <svg width="15" height="10" viewbox="0 0 42 25">
                        <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecape="round"/>
                    </svg>
                </div>
                <div class="answer">
                    <p>
                        The crop predictor strives to provide accurate predictions based on available data and algorithms. However, it's important to note that there can be natural variations and unexpected events that may affect the outcome. The predictions should be considered as helpful suggestions rather than absolute guarantees.
                    </p>
                </div>
            </div> </center>

        </section>

          <!-- ======= Footer ======= -->
        <footer id="footer">
            <div class="footer-top">
            <div class="container">
                <div class="row">

                <div class="col-lg-3 col-md-6 footer-info">
                    <h3>AgroUP</h3>
                    <p>farmers</p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                    <li><i class="bi bi-chevron-right"></i> <a href="#home">Home</a></li>
                    <li><i class="bi bi-chevron-right"></i> <a href="#about">About</a></li>
                    <li><i class="bi bi-chevron-right"></i> <a href="#model">Model</a></li>
                    <li><i class="bi bi-chevron-right"></i> <a href="#team">Team</a></li>
                    <li><i class="bi bi-chevron-right"></i> <a href="#faqs">FAQ'S</a></li>
                    </ul>
                </div>       
                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4>KNOW MORE ABOUT OUR PROJECT</h4>
                    
                    <div class="social-links">
                    <a href="https://github.com/pratyksha-22/Project-" class="github"><i class="bi bi-github"></i></a>
                    <a href="https://github.com/pratyksha-22/Project-" style="text-decoration:none" ><i class="fab fa-github" style="font-size: 1.69em;"></i></a>        
                    
                    </div>           
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>TEAM</h4>
                    <ul>
                    <li><i class="bi bi-chevron-right"></i>Pratyksha Gupta</a></li>
                    <li><i class="bi bi-chevron-right"></i>Princee Bansal</a></li>
                    </ul>
                    
                </div>

                </div>
            </div>
            </div>
        </footer>
        <!-- End Footer -->

        <!--Copyright-->
        <div class="copyright">
            <p>Copyright &copy; 2023 by AgroUp. All rights reserved.</p>
        </div>
        

       <!--Scroll To Button-->
        <button id="scroll-top-btn">
            <i class="fas fa-arrow-up"></i>
        </button>



        <!--Script-->
        <script src="./../static/scripts/script.js"></script>
    </body>
</html>
