<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>AgroUp</title>
       
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

         <!--FontAwesome Icons CDN-->
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

        <!--Google Fonts-->
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet"> 

        <!--Stylesheet-->
        <link rel="stylesheet" href="./../static/styles/style.css" />

        <!--media queries-->
        <link rel="stylesheet" href="./../static/styles/queries.css" />
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Scroll Indicator-->
        <div class="progress-container">
            <div id="progress"></div>
        </div>

        <!-- navigation bar-->
        <nav>
            <a href="#home" id="logo">AgroUp</a>
            <i class="fas fa-bars" id="ham-menu"></i>
            <ul id="nav-bar">
                <li>
                    <a href="#home">Home</a>
                </li>
                <li>
                    <a href="#about">About</a>
                </li>
                <li>
                    <a href="#model">Models</a>
                </li>
                <li>
                    <a href="#team">Team</a>
                </li>
                <li>
                    <a href="#subscribe">Subscribe</a>
                </li>  
            </ul>
        </nav>

        <div id= "google_element"></div>
        <script src = "http://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate"></script>
        <script>
        function loadGoogleTranslate() {
                new google.translate.TranslateElement(
                "google_element");
        }
        </script>

        <!--Header-->
        <header id="home">
            <div class="hero-content">
                <div class="hero-text">
                    <h1>Hand In Hand Against World Hunger</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero consequatur iure, id atque adipisci eligendi, pariatur laudantium, culpa quam animi veniam! Magnam, commodi doloremque officiis possimus ut dolore eos accusamus?
                    </p>
                </div>
                <div class="hero-btns">
                    <a href="/sdg">
                    <button class="btn-primary">Sustainable Development Goals</button>
                    </a>
                 <!--   <button class="btn-secondary">Cotton Disease Detection</button>  -->
                </div>
            </div>
            <img src="./../static/images/hero-image.svg" alt="hero-img" />
        </header>

        <!--Section: About-->
        <section class="about" id="about">
            <div class="row">
                <div class="column">
                    <img src="./../static/images/about-image.svg" />
                </div>
                <div class="column">
                    <h2>About Us</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas tenetur et ullam ad odit voluptates assumenda, id nobis, in ipsam illum ut harum officia tempora culpa obcaecati esse eos. Magni.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit similique expedita mollitia, recusandae, quos quam fuga dolorem ex accusantium vel debitis necessitatibus minus deleniti ut aspernatur rem voluptatibus illo maiores, distinctio inventore dicta magni. Eum molestias eius libero, tenetur id incidunt laborum et ducimus itaque error assumenda ipsa nisi a?
                    </p>
                </div>
            </div>
        </section>

        <!--Section: Models-->
        <section class="models" id="model">
            <h2>Models</h2>
            <div class="model1">

            <div class="wrapper">

                <div class="card">
                    <img src="./../static/images/crop 2.jpg" alt="Crop Predictor" />
                    <div class="info">
                        <h3>Crop Predictor</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, amet numquam exercitationem magnam molestias iusto qui modi aliquam in temporibus facere debitis? Quam earum expedita commodi exercitationem fugiat cumque corporis?
                        </p>
                        <a href="/crop-recommend" class="btn">Model</a>
                    </div>
                </div>
    
                <div class="card">
                    <img src="./../static/images/cotton plant 2.jpg" alt="Cotton Disease Detection" />
                    <div class="info">
                        <h3>Cotton Disease Detection</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, amet numquam exercitationem magnam molestias iusto qui modi aliquam in temporibus facere debitis? Quam earum expedita commodi exercitationem fugiat cumque corporis?
                        </p>
                        <a href="/crop-yield" class="btn">Model</a>
                    </div>
                </div>
    
            </div>

            </div>
        </section>

        <!--Section: Team-->
        <section class="team" id="team">
            <h2>Meet Our Team</h2>
            <div class="row">
                
                <!--column1-->
                <div class="column">
                    <div class="card">
                        <div class="img-container">
                            <img src="./../static/images/princee.jpeg" />
                        </div>
                        <h4>Princee Bansal</h4>
                        <p>Frontend Developer</p>
                        <div class="icons">
                            <a href="https://www.linkedin.com/in/princee-bansal-977ba0203?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B4sMIrlL5S%2B6r9DGhPa0dUA%3D%3D" target="_blank">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a href="mailto:princeebansal765@gmail.com" target="_blank">
                                <i class="fas fa-envelope"></i>
                            </a>
                        </div>
                    </div>
                </div>

                 <!--column2-->
                 <div class="column">
                    <div class="card">
                        <div class="img-container">
                            <img src="./../static/images/pratyksha.jpeg" />
                        </div>
                        <h4>Pratyksha Gupta</h4>
                        <p>ML Developer</p>
                        <div class="icons">
                            <a href="https://www.linkedin.com/in/pratyksha-gupta-2a9b14214?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3Bi2kW5XfgTJSlLwWBLrQJ%2Bw%3D%3D" target="_blank">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a href="mailto:gpratyksha@gmail.com" target="_blank">
                                <i class="fas fa-envelope"></i>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </section>
            
        <!--Section: Newsletter-->
        <section class="newsletter" id="subscribe">
            <h2>Subscribe To Newsletters</h2>
            <div class="wrapper">
                <h3>Awesome Newsletters To Your Inbox</h3>
               
                <form>
                    <input type="email" placeholder="Your email id here"/>
                    <button class="btn-primary">Subscribe</button>
                </form>
            </div>
        </section>

        <!--Section: Footer-->
        <footer>
            <div class="footer-wrapper">

                <div class="row">
                    <div class="column">
                        <h3>Phone</h3>
                        <p>+12 123456</p>
                    </div>
                    <div class="column">
                        <h3>Email</h3>
                        <p>agroUp@gmail.com</p>
                    </div>
                    <div class="column">
                        <h3>Address</h3>
                        <p>IGDTUW, Delhi-6</p>
                    </div>
                </div>

                <div class="row">
                    <span>
                        <a href="https://github.com/pratyksha-22/Project-" target="_blank">
                        <i class="fab fa-github"></i>
                        </a>
                    </span>
                    <span>
                        <a href="https://www.linkedin.com/in/princee-bansal-977ba0203?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B4sMIrlL5S%2B6r9DGhPa0dUA%3D%3D" target="_blank">
                        <i class="fab fa-linkedin"></i>
                        </a>
                    </span>
                </div>

            </div>
        </footer>

        <!--Copyright-->
        <div class="copyright">
            <p>Copyright &copy; 2023 by AgroUp. All rights reserved.</p>
        </div>

        <!--Scroll To Button-->
        <button id="scroll-top-btn">
            <i class="fas fa-arrow-up"></i>
        </button>



        <!--Script-->
        <script src="./../static/scripts/script.js"></script>
    </body>
</html>