<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Sustainable Development</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--FontAwesome Icons CDN-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

        <!--Google Fonts-->
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet"> 

        <!--Stylesheet-->
        <link rel="stylesheet" href="./../static/styles/style.css">

        <!--media queries-->
        <link rel="stylesheet" href="./../static/styles/queries.css" />
    </head >
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <section class="sdg" id="sdg">
            <h2>Sustainable Development Goals</h2>
            <div class="row">

                <div class="column">
                    <div class="img-container">
                        <img src="./../static/images/sdg1.jpg" alt="sdg1" />
                    </div>
                    <h3>Zero Hunger</h3>
                    <p>
                        the crop recommendation ML model can help farmers choose the most suitable crops for their specific growing conditions, 
                        which can help increase their crop yields and reduce waste.
                        it helps in the promotion of sustainable agriculture .This information can assist farmers in maximizing their crop yields and reducing waste.
                    </p>
                </div>

                <div class="column">
                    <div class="img-container">
                        <img src="./../static/images/sdg2.jpg" alt="sdg2" />
                    </div>
                    <h3>Responsible Consumption and Production</h3>
                    <p>
                       Data driven decision making plays a huge role in responsible consumption and production.Farmers due to lack 
                       of resources face challenges such as climate change and limited and our website aims at bridging that gap by 
                       providing them with necessary information regarding agriculture
                    </p>
                </div>

                <div class="column">
                    <div class="img-container">
                        <img src="./../static/images/sdg3.jpg" alt="sdg3" />
                    </div>
                    <h3>Life on Land</h3>
                    <p>
                        Life on Land includes environmental impact of agriculture. Our website aims at providing 
                        information can assist farmers in preserving soil health, reducing erosion, and promoting 
                        sustainable land use.Our models can assist farmers in selecting crop varieties that promote 
                        biodiversity and reduce the use of harmful chemicals.
                    </p>
                </div>

            </div>
        </section>

        
        <script src="" async defer></script>
    </body>
</html>