/* base styles */
*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*:not(i){
    font-family: "Poppins", sans-serif;
}
:root{
    --baseShade1: #54cc85;
    --baseShade2: #479264;
    --whiteShade1: #ffffff;
    --whiteShade2: #f8fafb;
    --blackShade1: #231c3d;
    --blackShade2: #575a7b;

    --baseFontSize: 1.6rem;

    --headingFontSize1: 4rem;
    --headingFontSize2: 3.2rem;
    --headingFontSize3: 2rem;
    --headingFontSize4: 1.8rem;

    --borderRadius1: 1rem;
    --borderRadius2: 0.5rem;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* Utility classes */

.btn-primary,
.btn-secondary{
    padding: 1rem 2rem;
    border-radius: var(--borderRadius2);
    border: none;
    outline: none;
    transition: 0.5s;
}
.btn-primary{
    background-color: #AED581;
    color: var(--whiteShade1);
}
.btn-primary:hover{
    background-color: var(--baseShade2);
}
section,
footer {
    padding: 5rem 7rem;
}
.row{
    display: flex;
    justify-content: space-around;
    gap: 3rem;
}
h1{
    font-size: var(--headingFontSize1);
    margin-bottom: 2rem;
    word-spacing: 1rem;
    line-height: 1.6;
}
h2{
    font-size: var(--headingFontSize2);
    color: var(--blackShade1);
    font-weight: 700;
    margin: 2rem 0 5rem 0;
    text-align: center;
}
h3{
    font-size: var(--headingFontSize3);
    color: var(--blackShade1);
    font-weight: 700;
    margin: 1.5rem 0;
}
h4{
    font-size: var(--headingFontSize4);
    color: var(--blackShade1);
    margin: 1.5rem 0;;
}
button,
p,
input[type="email"]{
    font-size: var(--baseFontSize);
    color: var(--blackShade2);
    line-height: 1.8;
    font-weight: 400;
}
input[type="email"]{
    padding: 0.8rem 2rem;
    border-radius: var(--borderRadius2);
    outline: none;
}
input[type="email"]:focus{
    border: 0.1rem solid var(--baseShade1);

}

/*scroll indicator */
.progress-container{
    width: 100%;
    height: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(0.8rem);
}

#progress{
    width: 0;
    height: 100%;
    background-color: var(--baseShade1);
}

/* navigation */
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 1rem;
    left: 0;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(0.8rem);
    
}
.goog-te-banner-frame {
    position: relative;
    z-index: 999;
}
nav .fas,
#logo{
    font-size: var(--headingFontSize4);
}

#logo{
    
    font-weight: 700;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}
nav a {
    color: var(--blackShade1);
    display: block;
    position: relative;
    font-size: var(--headingFontSize4);
    text-decoration: none;
}
nav i.fas {
    display: none;
}

/* navigation link hover */

nav li a:before {
    content: "";
    position: absolute;
    background-color: transparent;
    width: 0;
    height: 50%;
    bottom: 0;
    z-index: 1;
    margin-left: -5%;
    transition: all 0.5s;
}
nav li a:hover:before{
    
    width: 110%;
}
nav li a:hover{
    transform: scale(1.15);
}

/* Active sideNav Menu */
nav ul.active{
    left: 0;
}
nav ul.active li a{
    font-size: var(--headingFontSize3);
}

/* Sticky Menu */
.sticky{
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.03);
}

/* Header */
header{
    padding: 5rem;
    display: grid;
    grid-template-columns: 4fr 6fr;
    align-items: center;
}
.hero-text p{
    text-align: justify;
}
header img{
    display: block;
    width: 100%;
}
.hero-btns{
    display: flex;
    gap: 2rem;
}
.hero-btns button{
    margin-top: 2rem;
}

/* Section: SDGs */


.sdg .column{
    background-color: #D7E9B9;
    padding: 4rem 2rem;
    border-radius: var(--borderRadius1);
}
.sdg .column:hover{
    background-color: #8cc751;
}
.sdg .column:hover p{
    color: var(--whiteShade1);
}
.sdg .img-container{
    height: 10rem;
    width: 10rem;
    margin: auto;
    border-radius: 50%;
}
.sdg img{
    width: 7rem;
    display: block;
    margin: auto;
    padding: 1.1rem 0;
}
.sdg h3{
    text-align: center;
}
.sdg p{
    text-align: center;
}

.about{
    background-color: #D7E9B9;
}
/* Section: about */
.about .row{
    align-items: center;
}
.about .row .column{
    width: 100%;
    padding: 0;
}
.about img{
    display: block;
    width: 80%;
}
.about p{
    
    text-align: justify;
}

/* Section: Model */
.models {
    
    padding: 40px 0;
  }
  
 
  
  .models .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .models .card {
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  
  .models .card:hover {
    transform: translateY(-5px);
  }
  
  .models .card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
  
  .models .card .info {
    padding: 20px;
  }
  
  .models .card h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
  }
  
  .models .card p {
    margin-bottom: 20px;
    color: #777;
  }
  
  .models .card .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #AED581;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .models .card .btn:hover {
    background-color: #AED581;
  }


/* Section: Team */
.team .column{
   
    border-radius: var(--borderRadius1);
    text-align: center;
    height: 100%;
    width: 38%;
}
/*.team .row{
    
    padding: 10 10 10 10;
}  */
.team .h4{
    font-size: var(--headingFontSize4);
    color: var(--blackShade1);
    font-weight: 500;
    margin: 1.5rem 0;
}
.team .card{
    box-shadow: 0 0 2.2em rgba(25, 0, 58, 0.1);
    padding: 3.5em 1em;
    border-radius: 0.6em;
    color: black;
    cursor: pointer;
    transition: 0.3s;
    background-color: #AED581;
    
}

.team .card .img-container{
    width: 19em;
    height: 19em;
   
    padding: 0.5em;
    border-radius: 50%;
    margin: 0 auto 2em auto;
}

.team .card img{
    width: 100%;
    border-radius: 50%;
}

.team .card p{
    font-weight: 470;
    text-transform: uppercase;
    margin: 0.5em 0 2em 0;
    letter-spacing: 2px;
    color: var(--blackShade1);
    font-size: var(--baseFontSize);
}

.team .icons{
    width: 80px;
    
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.team .card a{
    text-decoration: none;
    color: black;
    font-size: 2.4em;
}

.team .card:hover{
    background: #8cc751;
    
}
.team .card:hover p{
    color: var(--whiteShade1);
}
.team .card:hover .img-container{
    transform: scale(1);
}

/* Section: FAQs */

.faq{
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--blackShade1);
    cursor: pointer;
}

.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question h3{
    font-size: 1.8rem;
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}

.answer p {
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.4rem;
}

.bg{
    background-color: #D7E9B9;
}
.faq.active .answer {
    max-height: 300px;
    animation: fade 1s ease-in-out;
}

.faq.active svg {
    transform: rotate(180deg);
}

svg {
    transition: transform .5s ease-in;
}

@keyframes fade {
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}


/* Section: Newsletter */
.newsletter{
    background: linear-gradient( var(--whiteShade1) 60%, var(--baseShade1) 60%);
    
}
.newsletter .wrapper {
    background-color: var(--whiteShade1);
    padding: 3rem 10rem;
    border-radius: var(--borderRadius1);
    box-shadow: 0 -10px 25px rgba(60,60,200,0.05);
}
.newsletter .wrapper h3{
    color: var(--blackShade1);
    text-align: center;
}
.newsletter form{
    margin: 3rem 0 1 rem 0;
    display: flex;
    justify-content: space-between;
}
.newsletter form input{
    width: 60%;
    border: 0.1rem solid var(--blackShade1);
}
.newsletter form button{
    width: 30%;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #ffffff;
  padding: 0 0 30px 0;
  color: #000;
  font-size: 14px;
}
#footer .footer-top {
  background: #ffffff;
  padding: 60px 0 30px 0;
}
#footer .footer-top .footer-info {
  margin-bottom: 30px;
}
#footer .footer-top .footer-info h3 {
  font-size: 34px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 10px;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  border-left: 4px solid #AED581;
}
#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  color: #000;
}
#footer .footer-top .social-links a {
  display: inline-block;
  
  color: #000;
  line-height: 1;
  margin-right: 4px;
  
  height: 36px;
  transition: 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
#footer .footer-top .social-links a i {
  line-height: 0;
  font-size: 16px;
}
#footer .footer-top .social-links a:hover {
  background: #AED581;
  color: #000;
}
#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-top h4::before, #footer .footer-top h4::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
}
#footer .footer-top h4::before {
  right: 0;
  background: #555;
}
#footer .footer-top h4::after {
  background: #AED581;
  width: 60px;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul i {
  padding-right: 8px;
  color: #000;
}
#footer .footer-top .footer-links ul li {
  border-bottom: 1px solid #333;
  padding: 10px 0;
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .footer-links ul a {
  color: #000;
}
#footer .footer-top .footer-links ul a:hover {
  color: #AED581;
}
#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}
#footer .footer-top .footer-contact p {
  line-height: 26px;
}
/* Copyright */
.copyright{
    padding: 2.5rem 0;
    background-color: #AED581;
    text-align: center;
}
.copyright p{
    color: var(--blackShade1);
}

/* Scroll to top buttons */
#scroll-top-btn{
    display: none;
    place-items: center;
    height: 4rem;
    width: 4rem;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    background-color: #AED581;
    border: none;
    outline: none;
    border: 0.4rem solid var(--borderRadius2);
    box-shadow: 0 10px 1t5px rgba(0, 0, 0, 0.12);
}
#scroll-top-btn .fas{
    color: var(--whiteShade1);
    font-size: 2rem;
    line-height: 0;
}

    

